@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html {
    background-color: #5edaf0;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}

main {
  padding: 30px;
    margin-left: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
 

}

.nav-items a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}



.about-section {

    text-align: center; 
}

.about-content {
 
    max-width: 800px; 
    margin: 0 auto; 
}

h2, h3 {
    color: #fa4747;
}

p {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.input-group{
    margin-bottom: 5%;
}
.input-group input{
    border: none;
    height: 20px;
}

/* Basic form styles */
.contact-form {
  max-width: 200px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 5px;
}

.input-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea.input-control {
  height: 40px;
}

.submit-btn {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Form hover and focus styles */
.input-control:focus,
.input-control:hover,
.btn:hover {
  border-color: #3498db;
}

/* Custom styles */
.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #2980b9;
}
