@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html{
    background-color: #5edaf0;
}

body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/image/dostava-slika.png");
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fffb00;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #f0a330;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #d8031c;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EDCD44;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #023047;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #023047;
  margin: 10px 0;
}

.slike{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    grid-row-gap: 20px;   
    display: inline;
    
  }
  .slike > div {
    text-align: center;
  }
  
.slike h2{
    border-top: 2px solid #eeeeee;
    font-size: 30px;
    letter-spacing: 2px;
    color: #D51E25;
    text-transform: uppercase;
    padding-top: 5%;
}

.customer-reviews h2{

    font-size: 30px;
    letter-spacing: 2px;
    color: #D51E25;
    text-transform: uppercase;
    padding-top: 0px

}


.slike img{
    cursor:pointer;
}

.slike .slicice img{
  padding: 20px;
    width: 300px;
    height: 200px;
}
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.input-group{
    margin-bottom: 5%;
}
.input-group input{
    border: none;
    height: 20px;
}

/* Basic form styles */
.contact-form {
  max-width: 200px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 5px;
}

.input-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea.input-control {
  height: 40px;
}

.submit-btn {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Form hover and focus styles */
.input-control:focus,
.input-control:hover,
.btn:hover {
  border-color: #3498db;
}

/* Custom styles */
.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #2980b9;
}


.customer-reviews {
  padding: 30px;
  border-top: 2px solid #eeeeee;
  text-align: center;
}

.review {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: inline-block; 
  margin: 10px; 
  max-width: 250px; 
}


.customer-reviews > div:first-child {
  grid-column: 1 / -1; 
  text-align: center; 
}


.review p {
  margin: 0;
}

.review span {
  font-style: italic;
}