@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html{
    background-color: #5edaf0;
}

body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5edaf0;
}

.header .logo {
  font-size: 25px;
  font-style: italic;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.header .lan img{
    width: 30px;
    margin-bottom: 25%;

    margin-top: 5%;
    margin-left: 16%;
}
#bos{
    height: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5edaf0;
    margin-bottom: 5%;
    margin-right: 5%;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    
}

.nav-items a {
  text-decoration: none;
  color: #14b637;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/image/dostava-slika.png");
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fffb00;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #f0a330;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #ca1d1d;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.slike{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    grid-row-gap: 20px;   
    margin-left: 3%;
    display: inline;
    
  }
  .slike > div {
    text-align: center;
    padding: 3%;
  }
.slike h2{
    border-top: 2px solid #eeeeee;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    padding-top: 5%;
}
.slike img{
    cursor:pointer;
}
.slike .glavna-slika{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.slike .slicice{
    width: 5px;
    display: inline;
}
.slike .slicice img{
    opacity: 0.8;
}
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.input-group{
    margin-bottom: 5%;
}
.input-group input{
    border: none;
    height: 25px;
}