/* CSS for header */
.header {
    position: fixed;
    width:100%;
    top:0;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5edaf0;
    z-index: 1;
    border: 7px #D51E25;
    border-style:ridge;
    box-sizing:border-box;
  }
  
  .header .logo {
    font-size: 25px;
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .header .lan img{
      width: 30px;
      margin-bottom: 25%;
  
      margin-top: 5%;
      margin-left: 16%;
  }
  #bos{
      height: 20px;
  }
  
  .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #5edaf0;
      margin-right: 5%;
      font-weight: bolder;
      font-family:Arial, Helvetica, sans-serif;
      font-size: larger;
      
  }
  
  .nav-items a {
    text-decoration: none;
    color: #D51E25;
    padding-left: 20%;
    padding-right: 20%;
  }
  main{
    margin-top: 150px;
  }